@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

header {
  border-bottom: 1px solid #3f9106;
}

.menu {
  font-family: "Montserrat", sans-serif;
}

.menu li a {
  color: black;
  text-decoration: none;
}
.menu li a:hover {
  color: #3f9106 !important;
}

*,
html,
body {
  font-family: "Lato", sans-serif;
}
.logo img {
  width: 125px;
}

.btn-success,
.bg-success {
  background-color: #3f9106 !important;
}

.border-success {
  border-color: #3f9106 !important;
}

.text-success {
  color: #3f9106 !important;
}

.hero_header {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../images/hero_header.jpg") center center no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
}

.hero_header .content {
  color: white;
  max-width: 380px;
}

.args {
  height: 120px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-style: italic;
  color: white;
  font-weight: 300 !important;
  font-size: 24px;
}
.args.green {
  background: linear-gradient(121.7deg, #649f3a 30.91%, #407a17 80.47%);
}
.args.blue {
  background: #507dbc;
}

.advantages h3 {
  font-family: "Montserrat", sans-serif;
}

.advantages .card > img {
  height: 220px;
  object-fit: cover;
}

.blog {
  background: url("../images/bg-feuilles.png") repeat;
}

.blog .card > img {
  height: 280px;
  object-fit: cover;
}

.blog .bg-brown {
  background-color: #644536;
}

footer {
  background: linear-gradient(121.7deg, #649f3a 30.91%, #407a17 80.47%);
}
.bottom-footer {
  background: #034c3c;
  color: white;
}
